:root {
  --background: oklch(0.967 0.0106 316.4921);
  --foreground: oklch(0.2103 0.0107 311.9806);

  --muted: oklch(0.9643 0.0213 308.2549);
  --muted-foreground: oklch(0.5605 0.0341 309.5036);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2103 0.0107 311.9806);

  --border: oklch(0.5605 0.0341 309.5036);
  --input: oklch(0.9301 0.0171 308.7929);

  --card: oklch(0.967 0.0106 316.4921);
  --card-foreground: oklch(0.2103 0.0107 311.9806);

  --primary: oklch(40.789% 0.07341 151.352);
  --primary-foreground: oklch(0.967 0.0106 316.4921);

  --secondary: oklch(0.7323 0.0837 213.0947);
  --secondary-foreground: oklch(0.2103 0.0107 311.9806);

  --accent: oklch(0.9643 0.0213 308.2549);
  --accent-foreground: oklch(0.2103 0.0107 311.9806);

  --destructive: oklch(0.5032 0.1773 29.2339);
  --destructive-foreground: oklch(0.967 0.0106 316.4921);
  --ring: oklch(50.789% 0.08341 151.352);

  --chart-1: oklch(40.789% 0.07341 151.352);
  --chart-2: oklch(50.789% 0.08341 151.352);
  --chart-3: oklch(60.789% 0.09341 151.352);
  --chart-4: oklch(70.789% 0.10341 151.352);
  --chart-5: oklch(80.789% 0.11341 151.352);
  --sidebar: oklch(0.967 0.0106 316.4921);

  --sidebar-foreground: oklch(0.4536 0.0226 309.5036);
                                --sidebar-primary: oklch(40.789% 0.07341 151.352);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9419 0.016 310.0997);
  --sidebar-accent-foreground: oklch(40.789% 0.07341 151.352);
  --sidebar-border: oklch(0.9155 0.0235 310.6964);
  --sidebar-ring: oklch(40.789% 0.07341 151.352);
  --radius: 0.75rem;
  --shadow-2xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;

  @variant dark {
    --background: oklch(0.2103 0.0107 311.9806);
    --foreground: oklch(0.9301 0.0171 308.7929);

    --muted: oklch(0.2103 0.0107 311.9806);
    --muted-foreground: oklch(0.721 0.0184 308.1777);

    --accent: oklch(0.2941 0.0175 310.1142);
    --accent-foreground: oklch(0.9889 0.0213 308.2549);

    --popover: oklch(0.2103 0.0107 311.9806);
    --popover-foreground: oklch(0.7654 0.0184 308.1777);

    --border: oklch(0.2941 0.0175 310.1142);
    --input: oklch(0.2941 0.0175 310.1142);

    --card: oklch(0.2103 0.0107 311.9806);
    --card-foreground: oklch(0.9301 0.0171 308.7929);

    --primary: oklch(0.9889 0.0213 308.2549);
    --primary-foreground: oklch(40.789% 0.07341 151.352);

    --secondary: oklch(0.967 0.0106 316.4921);
    --secondary-foreground: oklch(0.1836 0.0111 311.9111);

    --destructive: oklch(0.4658 0.1379 29.2339);
    --destructive-foreground: oklch(0.9889 0.0213 308.2549);

    --ring: oklch(0.2941 0.0175 310.1142);

    --chart-1: oklch(0.9889 0.0213 308.2549);
    --chart-2: oklch(0.8889 0.0313 308.2549);
    --chart-3: oklch(0.7889 0.0413 308.2549);
    --chart-4: oklch(0.6889 0.0513 308.2549);
    --chart-5: oklch(0.5889 0.0613 308.2549);

    --sidebar: oklch(0.2103 0.0107 311.9806);
    --sidebar-foreground: oklch(0.721 0.0184 308.1777);
    --sidebar-primary: oklch(0.9889 0.0213 308.2549);
    --sidebar-primary-foreground: oklch(0.1836 0.0111 311.9111);
    --sidebar-accent: oklch(0.2551 0.0142 310.7968);
    --sidebar-accent-foreground: oklch(0.6747 0.1492 345.9482);
    --sidebar-border: oklch(0.2941 0.0175 310.1142);
    --sidebar-ring: oklch(0.6747 0.1492 345.9482);

    --radius: 0.75rem;
    --shadow-2xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.1);
    --shadow-xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.1);
    --shadow-sm:
      0px 2px 10px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
    --shadow:
      0px 2px 10px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
    --shadow-md:
      0px 2px 10px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
    --shadow-lg:
      0px 2px 10px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
    --shadow-xl:
      0px 2px 10px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
    --shadow-2xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.5);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
